body{margin:0;
	padding: 0;
}
.container {
	width : 100%;
	height: auto;
	border:1px solid;
	margin: auto;
}
.header {
	border:2px solid;
	width : auto;
	height: 50px;
	background-color: rgb(33, 194, 148);
}
.nav li {
	display: inline;
	padding: 10px;
}
.nav li:hover {
	color:white;
	cursor: pointer;
}
.pertanyaan {
	border:1px solid;
	width:auto;
	height: 500px;

}
.pengertian h2 {
	text-align: center;
}
.pengertian p {
	text-align: center;
}
footer {
	text-align: center;
	background-color: black;
	overflow: auto;
	width:100%;
	margin: auto;
}
footer p{
	color:white;
}
.pertanyaan {
	text-align: center;
}
.box1{
	border:1px solid;
	width:300px;
	text-align: center;
	margin:auto;
	background-color: rgb(110, 20, 20);
	margin-top: 5px;
	line-height: 70px;
	border-radius: 50px;
}
.box1:hover {
	color:white;
	cursor: pointer;
}
.nav a{
	text-decoration: none;
	color:black;
}
.nav a:hover {
	color:white;
}
.box1 a{
	text-decoration: none;
	color:black;
}
.box1 a:hover {
	color:white;
}