body{margin:0;
	padding: 0;
}
.container {
	width : 100%;
	height: 750px;
	border:1px solid;
	margin: auto;
}
.header {
	border:2px solid;
	width : auto;
	height: 50px;
	background-color: rgb(33, 194, 148);
}
.nav li {
	display: inline;
	padding: 10px;
}
.nav li:hover {
	color:white;
	cursor: pointer;
}
.image {
	border:1px solid;
	width:auto;
	height: 500px;
	background-image: url(pic2.jpg);
}
.pengertian h2 {
	text-align: center;
	color:red;
}
.pengertian p {
	text-align: left;
}
footer {
	text-align: center;
	background-color: black;
	overflow: auto;
	width:100%;
	margin: auto;
}
footer p{
	color:white;
}
.nav a{
	text-decoration: none;
	color:black;
}
.nav a:hover {
	color:white;
}